<!doctype html>
<html ng-app="ccApp">
    <head>
        <title>Code Club HTML Editor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/lib/reset.css" >
        <link rel="stylesheet" href="css/lib/bootstrap.css" >
        <link rel="stylesheet" href="css/global.css" >
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    </head>
    <body ng-controller="EditorController">
        <div class="row header">
            <div class="col-md-12">
                <ul class="primaryNav">
                    <li><a ng-click="changeTab('html')" ng-class="{current: currentTab == 'html'}">HTML (layout)</a></li>
                    <li><a ng-click="changeTab('css')" ng-class="{current: currentTab == 'css'}">CSS (styling)</a></li>
                </ul>
                <ul class="commands">
                    <li><a ng-click="publish()" href=""><i class="fa fa-play fa-lg"></i>Run</a></li>
                </ul>
            </div>
        </div>
        <div class="row editor-container">
            <div class="col-md-6">
                <div ui-ace="{mode: currentTab, theme: 'monokai'}" mode='currentTab' id="editor"></div>
            </div>
            <div class="col-md-6">
                <iframe id="previewWindow"></iframe>    
            </div>
        </div>

        <script src="js/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/angular/angular.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/localStorageModule.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/lib/ui-ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/controllers/EditorController.js" type="text/javascript" charset="utf-8"></script>
        
    </body>
</html>
